//
// Global theme styling
//

// Increase base font styling in the body only

body {
  font-size: $font-size-lg;
}

// Set horizontal rule color to border color

hr {
  background-color: $border-color;
  opacity: 1;
}

// Set defaults for the paragraph element

p {
  margin: 2rem 0;

  a {
    text-decoration: underline;
  }
}

blockquote {
  font-style: italic;
  color: $gray-600;
}

.lang-flag {
  background-image: url(static/img/flag/flag-icon.png);
  background-repeat: no-repeat;
  background-size: auto;
  border: 1px solid rgba(0, 0, 0, 0.15);
  display: inline-block;
  height: 15px;
  margin-right: 5px;
  width: 20px;

  &.ch {
    background-position: -6px -9px;
  }

  &.en {
    background-position: -6px -43px;
  }

  &.jp {
    background-position: -50.5px -9.5px;
  }

  &.zh-tw {
    background-position: -48px -42px;
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}
