//
// Navbar
//

// Global styling for the navbar

.header-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: $zindex-fixed;
  border-bottom: $border-width solid $border-color;
  background-color: $white;
  font-family: $headings-font-family;

  .navbar-brand {
    font-weight: $headings-font-weight;
  }

  .navbar-toggler {
    font-size: 0.75rem;
    font-weight: $headings-font-weight;
    padding: 0.75rem;
    text-transform: uppercase;
  }

  .navbar-nav {
    > li.nav-item {
      > a.nav-link {
        font-size: 0.75rem;
        font-weight: $headings-font-weight;
        letter-spacing: 0.0625em;
        text-transform: uppercase;
      }
    }
  }

  // Desktop only styling for the navbar
  // Set to large breakpoint and up (this should always match the .navbar-expand-* class

  @include media-breakpoint-up(md) {
    border-bottom: $border-width solid transparent;
    background: transparent;

    .navbar-brand {
      color: $white;

      &:focus,
      &:hover {
        color: fade-out($white, .2);
      }
    }

    .navbar-nav {
      > li.nav-item {
        > a.nav-link {
          color: $white;

          &:focus,
          &:hover {
            color: fade-out($white, .2);
          }
        }
      }
    }

    &.is-fixed {
      /* when the user scrolls down, we hide the header right above the viewport */
      border-bottom: 1px solid darken($white, .05);
      background-color: $white;

      .navbar-brand {
        color: $body-color;

        &:focus,
        &:hover {
          color: $primary;
        }
      }

      .navbar-nav {
        > li.nav-item {
          > a {
            color: $body-color;

            &:focus,
            &:hover {
              color: $primary;
            }
          }
        }
      }
    }
  }
}
