//
// Navbar
//

// Global styling for the navbar

.header-nav {
  background-color: $headings-color;
  border-bottom: $border-width solid $headings-color;
  font-family: $headings-font-family;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: $zindex-fixed;

  .navbar-brand {
    font-weight: $headings-font-weight;
  }

  .navbar-toggler {
    color: $white;
    font-size: 0.75rem;
    font-weight: $headings-font-weight;
    padding: 0.75rem;
    text-transform: uppercase;
  }

  .navbar-nav {
    > li.nav-item {
      > a.nav-link {
        font-size: 1rem;
        font-weight: $headings-font-weight;
        letter-spacing: 0.0625em;
        text-transform: uppercase;
      }
    }
  }

  // Desktop only styling for the navbar
  // Set to large breakpoint and up (this should always match the .navbar-expand-* class

  @include media-breakpoint-up(md) {
    border-bottom: $border-width solid transparent;
    background: $headings-color;

    .navbar-brand {
      color: inherit;

      &:focus,
      &:hover {
        color: fade-out($white, 0.2);
      }
    }

    .navbar-nav {
      > li.nav-item {
        > a.nav-link {
          color: inherit;

          &:focus,
          &:hover {
            color: fade-out($white, 0.2);
          }
        }
      }
    }

    &.is-fixed {
      /* when the user scrolls down, we hide the header right above the viewport */
      border-bottom: 1px solid darken($white, 0.05);
      background-color: $white;

      .navbar-brand {
        color: $body-color;

        &:focus,
        &:hover {
          color: $primary;
        }
      }

      .navbar-nav {
        > li.nav-item {
          > a {
            color: $body-color;

            &:focus,
            &:hover {
              color: $primary;
            }
          }
        }
      }
    }
  }
}

.custom-tab {
  height: 100%;
  display: flex;
  flex-direction: column;

  .nav-tabs{
    margin-bottom: -1px;
    z-index: 999;
  }

  .nav-link {
    text-align: center;
    font-weight: 600;
    min-width: 100px;
    background-color: rgba(197, 197, 197, 0.45) !important;
    color: inherit;

    &:hover {
      opacity: 0.6;
    }

    &.active {
      background-color: transparent !important;
      color: gray;
      border-bottom: 2px solid black;
    }
  }

  .tab-content {
    height: 100%;
    max-height: 100%;
    color:gray;
    background-color: transparent;
    margin-top: 0px !important;
    border-right: 2px solid gray;
    border-left: 2px solid gray;
    border-bottom: 2px solid gray;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px;
    overflow: hidden;

    & > .tab-pane{
      height: 100%;
      overflow: hidden;
    }
  }
}

.custom-pill{
  .nav-link{
    border-radius: 0px;
    color:gray;
    background-color: rgba(153, 153, 153, 0.27);
    &.active{
      background-color: #999999;
      color:white;
    }
  }
}
