//
// Forms
//

// Override variables for the Bootstrap floating forms component

$form-floating-height: 4.5rem;
$form-floating-padding-x: 0;
$form-floating-padding-y: 1.25rem;
$form-floating-input-padding-t: 2.125rem;
$form-floating-input-padding-b: .625rem;
$form-floating-label-transform: scale(.65) translateY(-.5rem) translateX(0rem);

$input-group-addon-focus-bg: $primary;
$input-group-addon-focus-color: white;
$input-alternative-box-shadow: 0 1px 3px rgba(50, 50, 93, .15), 0 1px 0 rgba(0, 0, 0, .02) !default;
$input-focus-alternative-box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08) !default;

// Form group
